.vscode/**
.vscode-test/**
test/**
.gitignore
.editorconfig
out/
src/
node_modules
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.prettierrc.js
**/.eslintignore
.github/**
